<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Homemade+Apple&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Marck+Script&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Clicker+Script&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Qwigley&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Economica&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/main.css">
    <script src="https://kit.fontawesome.com/82f8e72baf.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>

        <img src="/data/lemon.png" class="logo" alt="" srcset="">


        <div class="menu">

            <nav class="navigation">

                <a href="" class="linksNav">INICIO</a>
                <a href="" class="linksNav">CONTACTO</a>
                <a href="/store" class="linksNav">MENÚ</a>
                <a href="" class="linksNav">EVENTOS</a>

            </nav>
            <img src="/data/line.png" class="line1" alt="" srcset="">
        </div>
        
    </header>
    <div class="cart">
        <i class="fas fa-shopping-bag"></i>
        <button class="cart_button">
            0
        </button>
        <div class="cart_list">

        </div>
        <h2 class="cart__text">Total: <span class="cart_total">0</span>cop</h2>
        <a href="/checkout"><button class="btn3">Comprar</button></a>
    </div>
    {{{ body }}}
    <footer>
        <img src="./data/lemon.png" class="logo" alt="" srcset="">
        <div class="footer__information">
            <h1>Información de la tienda</h1>
        </div>
    </footer>
    <script src="/scr/cart.js"></script>
</body>
</html>