<a href="/store" class="back"> Regresar</a>
<div class="formContainer">
    <form action="/checkout" method="POST" class="checkout_form">
    <label class="checkout_form__label">
        <div class="dataList">
            <h2 class="data3">Nombre completo</h2>
            <h2 class="data3">Número de tarjeta</h2>
            <h2 class="data3">CVV</h2>
            <h2 class="data3">Dirección</h2>
        </div>
        
        <div class="inputs">
            <input placeholder="" name="name" required="true" class="inputss">
            <input placeholder="" name="cardnumber" required="true" type="number" class="inputss"> 
            <input placeholder="" name="cvv" required="true" type="number" class="inputss">
            <input placeholder="" name="address" required="true" class="inputss"> 
        </div>
    </label>
    <label class="checkout_form__label">
        
        
    </label>
    <label class="checkout_form__label">
        
        
    </label>
    <label class="checkout_form__label">
        
        
    </label>
    <input name="products" type="hidden" class="checkoutform__products">
    <button class="sendBtn">Proceed</button>
</form>
</div>


<script src="/scr/checkout.js"></script>